 /* GENERIC */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

/* HEADER */

header{
  position: fixed;
  height: 70px;
  width: 100%;
  z-index: 999;
  text-align: right;
}

header nav ul li{
  list-style: none;
  display: inline-block;
  line-height: 70px;
  margin-right: 20px;
}

header nav ul li a{
  display: inline-block;
  height: 30px;
  width: 30px;
  line-height: 30px;
  border-radius: 30px;
  background-color: white;
  color: black;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
  box-shadow: 1px 1px 3px black

}

header nav ul li a:hover{
  box-shadow: 2px 2px 6px black ;
}

header nav ul li a:active{
  background-color: #757575;
  transform: translateY(3px);
}


/* MAIN - IMAGES AND TEXT */

.box{
  height: 100vh;
  position: relative;
}

.image-txt-container{
  height: 600px;
  width: 600px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.image{
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.image-txt-container h2{
  position: absolute;
  bottom: 0px;
  left: 50px;
  color: #ffff00;
  font-size: 45px;
  text-align: center;
}


/* MAIN - COLORS */

.first.box{
  background-color: #ff0000;
}

.second.box{
  background-color: #008000;
}

.third.box{
  background-color: #ffff00;
}

.image.one{
  background-image: url('../img/01.png');
}

.image.two{
  background-image: url('../img/02.png');
}

.image.three{
  background-image: url('../img/03.png');
}

#txt-different-color{
  color: #008000;
}