 /* GENERIC */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

body{
  font-family: 'Rubik Mono One', sans-serif;
  color: #ffff00;
}

/* HEADER */

header{
  position: fixed;
  height: 70px;
  width: 100%;
  z-index: 999;
  text-align: right;
}

header nav ul li{
  list-style: none;
  display: inline-block;
  line-height: 70px;
  margin-right: 20px;
}

header nav ul li a{
  display: inline-block;
  height: 30px;
  width: 30px;
  line-height: 30px;
  border-radius: 30px;
  background-color: white;
  color: black;
  text-decoration: none;
  text-align: center;
  box-shadow: 1px 1px 3px black
  
}

header nav ul li a:hover{
  box-shadow: 2px 2px 6px black ;
}

header nav ul li a:active{
  background-color: #757575;
  transform: translateY(3px);
}


/* MAIN - IMAGES AND TEXT */

section{
  height: 100vh;
  position: relative;
}

img{
  width: 100%;
}

.block{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.block .txt{
  font-size: 3vw;
}


/* MAIN - COLORS */

#first-shoe{
  background-color: #ff0000;
}

#second-shoe{
  background-color: #008000;
}

#third-shoe{
  background-color: #ffff00;
  color: #008000;
}